{:lein true
 :fs-watch {:hawk false}
 :builds {:dev  {:target :browser
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 :modules {:main {:init-fn {{name}}.core/init}}
                 :module-loader true
                 {{#trace?}}:dev {:compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}}
                 :devtools {:preloads [day8.re-frame-10x.preload]}{{/trace?}}
                 :compiler-options {:optimizations :none
                                    :infer-externs :auto
                                    :output-feature-set :es8}}
          :prod {:target :browser
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 :modules {:main {:init-fn {{name}}.core/init}}
                 :compiler-options {:optimizations :advanced
                                    :infer-externs :auto
                                    :output-feature-set :es8}}}}
